<h3>{{leyenda}} - {{progreso}}</h3>
<div class="input-group">
  <button class="btn btn-primary" (click)="cambiarValor(-5)" type="button">
    <i class="mdi mdi-minus"></i>
  </button>
  <input
  #txtProgress
  type="number"
  class="form-control"
  aria-describedby="button-addon4" name="progreso" [(ngModel)]="progreso"
  max="100" min="1"
  (ngModelChange)="onChanges($event)"
  />
  <div class="input-group-append" id="button-addon4">
    <button class="btn btn-primary" (click)="cambiarValor(+5)" type="button">
      <i class="mdi mdi-plus"></i>
    </button>
  </div>
</div>
